### Voting ensemble technique

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
data = sns.load_dataset('iris')
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

### Encoding target vetor

In [4]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

In [5]:
data.species = encoder.fit_transform(data.species)
data

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [6]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]

### apply voting on whole dataset

In [8]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score

In [9]:
model1 = LogisticRegression()
model2 = KNeighborsClassifier()
model3 = SVC()

In [10]:
estimators = [('lr', model1),
             ('knn', model2),
             ('svm', model2)
            ]

In [14]:
import warnings
warnings.filterwarnings('ignore')

for est in estimators:
    x = cross_val_score(est[1], X,y, cv=10, scoring='accuracy')
    print(est[0], np.round(np.mean(x),2))

lr 0.97
knn 0.97
svm 0.97

### now applying voting classifier

In [15]:
from sklearn.ensemble import VotingClassifier

In [16]:
VC = VotingClassifier(estimators=estimators)
k = cross_val_score(VC, X,y, cv=10, scoring='accuracy')
print("Voting classifier", np.round(np.mean(k),2))

Voting classifier 0.97

In [17]:
VC = VotingClassifier(estimators=estimators, voting='soft')
k = cross_val_score(VC, X,y, cv=10, scoring='accuracy')
print("Voting classifier", np.round(np.mean(k),2))

Voting classifier 0.97